.king {
	width: 400px;
	margin: 30px auto;
	position: relative;

	.thumbnail {
		padding: 30px;
	}

	&__close {
		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
		padding: 10px;
		color: $brand-danger;
		font-size: 40px;
		line-height: 40px;
		font-weight: bold;
	}

	&__info {
		cursor: pointer;
	}
}